button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

#wrap {
  width: 100vw;
  height: 1000px;
}

.clock {
  font-size: 30vw;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#controllarea {
  font-size: 6vw;
  text-align: center;
}
